<div class="contenu">
<form>
    <fieldset>
        <legend>Renseignez les informations du pratiquant</legend>
        
          <label>Nom de famille *<input type="text" required></label>
          <label>Prénom *<input type="text" required></label>
          <label>Sexe *<select><option></option><option>F</option><option>M</option></select></label>
          <label>Date de naissance *<input type="date" required></label>
          <label>Numéro de téléphone<input type="text"></label>
    </fieldset>
    <fieldset>
        <legend>Renseignez les informations du responsable légal</legend>
        
          <label>Nom du responsable légal *<input type="text" required></label>
          <label>Adresse *<input type="text" required></label>
          <label>Code Postal *<input type="text" required></label>
          <label>Ville *<input type="text" required></label>
          <label>Numéro de téléphone père ou Responsable légal*<input type="text" required></label>
          <label>Numéro de téléphone mère *<input type="text" required></label>
          <label>Adresse mail *<input type="mail" required></label>
    </fieldset>
    <fieldset  class="auto">
        <legend>Autorisation parentals</legend>
        Cochez si OUI :<br>
          <label><input type="checkbox">
            Le Club de l’Etoile de Villecresnes à utiliser des photos et vidéos sur lesquelles apparaît mon enfant dans un but de communication de promotion du club et du sport
          </label>
          <label><input type="checkbox">
            Mon fils/ma fille à rentrer seul(e) après les entraînements et/ou après les compétitions (si elles ont lieu à Villecresnes)<br><font color="red"> Si non : je m'engage à récuperer mon fils/ma fille à l'intérieur du gymnase</font>
          </label>
          <label><input type="checkbox">
            Le transport aux urgences si nécessaire
          </label>
          <label><input type="checkbox">
            A faire pratiquer une intervention médicale en cas de besoin
          </label>
          <label><input type="checkbox">
            Le transport de mon enfant dans un véhicule privé (ou autocars) et dégage l’association l’Etoile de Villecresnes de toute responsabilité pour les compétitions à l’extérieur
          </label>
          <label><input type="checkbox">
            Je peux éventuellement convoyer avec mon véhicule personnel des gymnastes pour les compétitions à l’extérieur
          </label>
          <br>
          Je souhaite participer à la vie associative du club :
          <br>
          <label><input type="checkbox">
            Aide hebdomadaire pour les installations et rangements des agrès
          </label>
          <label><input type="checkbox">
            Aide à l'organisation des compétitions internes (buvette, installation, rangement, …)
          </label>
          <label><input type="checkbox">
            Aide sur des tâches d’officiels.
          </label>
          <label><input type="checkbox">
            Aide pour les inscriptions des licences
          </label>
          <label><input type="checkbox">
            Aide pour centraliser et afficher les résultats des tournois, compétitions et différentes manifestations.
          </label>
          <label><input type="checkbox">
            Prise des vidéo et/ou photo sur les manifestations.
          </label>
    </fieldset>
    <label><input type="submit" value="Envoyer mon inscription"></label>
</form>
</div>