<div class="contenu">
<a (click)="display('perso')"><div class="button" ><br>
<p>MODIFIER MES INFORMATIONS PERSONNELLES</p>
<img *ngIf="!perso" src="..\..\..\assets\image\down.png">
<img *ngIf="perso" src="..\..\..\assets\image\top.png">
</div></a>
<div *ngIf="perso" class="detail">
<form #myform="ngForm" (ngSubmit)="register_update_user(myform)">
    <label>Nom<input type="text" name="nom" ngModel="{{info.nomPersonne}}" required/></label><br>
    <label>Prénom<input type="text" name="prenom" ngModel="{{info.prenomPersonne}}" required/></label><br>
    <label>Date de naissance<input type="date" name="naissance" ngModel="{{info.datenaissance_Personne | date:'yyyy-MM-dd'}}" required/></label><br>
    <label>Mail<input type="mail" name="mail" ngModel="{{info.emailPersonne}}" required/></label><br>
    <label>Rue<input type="text" name="rue" ngModel="{{info.rue_Personne}}" required/></label><br>
    <label>Code postal<input type="text" name="cp" maxlength="5" ngModel="{{info.codepostal_Personne}}" required/></label><br>
    <label>Ville<input type="text" name="ville" ngModel="{{info.ville_Personne}}" required/></label><br>
    <label>Numéro de la mère<input type="text" name="mere" maxlength="10" ngModel="{{info.telephonemere}}" required/></label><br>
    <label>Numéro du prère<input type="text" name="pere" maxlength="10" ngModel="{{info.telephonepere}}" required/></label><br>
    <label>Numéro du praticant<input type="text" name="praticant" maxlength="10" ngModel="{{info.telephone}}" required/></label><br>
    <label>Numéro de licence<input type="text" name="licence" ngModel="{{info.numlicence}}" disabled/></label><br>
    <label><input type="text" name="idpersonne" ngModel="{{info.idpersonne}}"/></label><br>    
    <label><input type="submit" value="Modifier mes informations"/></label><br> 
</form>
</div>

<a (click)="display('modif_pers')"><div class="button" ><br>
    <p>MODIFIER LES INFORMATIONS D'UN ADHERENT</p>
    <img *ngIf="!modif_pers" src="..\..\..\assets\image\down.png">
    <img *ngIf="modif_pers" src="..\..\..\assets\image\top.png">
    </div></a>
    <div *ngIf="modif_pers" class="detail">
    <form *ngIf="result != 'coucou'" #myform="ngForm" (ngSubmit)="register(myform)" class="modal-content animate">
        <h2>Rechercher un adhérent</h2><br>
        <label>Nom<input type="text" name="search_nom" ngModel/></label><br>
        <label>Prénom<input type="text" name="search_prenom" ngModel/></label><br>
        <label>Date de naissance<input type="date" name="search_naissance" ngModel/></label><br>
        <label>Mail<input type="mail" name="search_mail" ngModel/></label><br>
        <label>Numéro<input type="text" name="search_num" ngModel/></label><br>
        <label><input type="submit" value="Rechercher"/></label><br>
    </form>

    <div class="result" *ngIf="resultSearch1">
            <h2>Résultat(s) de la rechercher</h2><br>
            <p *ngIf="resultError">Aucun résulat</p>
            <div *ngIf="resultSearchTrue">
            <a *ngFor="let perso of info" (click)="modif(perso.idpersonne)"><div class="pers_result">
                <img *ngIf="perso.idphoto === null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                <img *ngIf="perso.idphoto !== null" src="{{perso.idphoto.chemin_Photo}}">
                <h3>{{perso.nomPersonne}} {{perso.prenomPersonne}}<br>
                  <ng-container *ngIf="info_groupe_pers.length === 1"><small *ngFor="let info of info_groupe_pers" >{{info.nom}} </small ></ng-container>
                    <small *ngIf="info_groupe_pers.length !== 1 && info_groupe_pers.length !== 0">Plusieurs groupes</small >
                    <small><br>{{perso.idsaison[perso.idsaison.length - 1].libellesaison}}</small>
                </h3>
            </div></a>
            </div>
            
    </div>


    <form *ngIf="resultadhe" #myform="ngForm" (ngSubmit)="register_update_user_search(myform)">
        <h2>Modifier les informations de l'adhérents</h2><br>
        <label>Nom<input type="text" name="nom" ngModel="{{inforesult.nomPersonne}}" required/></label><br>
        <label>Prénom<input type="text" name="prenom" ngModel="{{inforesult.prenomPersonne}}" required/></label><br>
        <label>Date de naissance<input type="date" name="naissance" ngModel="{{inforesult.datenaissance_Personne | date:'yyyy-MM-dd'}}" required/></label><br>
        <label>Mail<input type="mail" name="mail" ngModel="{{inforesult.emailPersonne}}" required/></label><br>
        <label>Rue<input type="text" name="rue" ngModel="{{inforesult.rue_Personne}}" required/></label><br>
        <label>Code postal<input type="text" name="cp" maxlength="5" ngModel="{{inforesult.codepostal_Personne}}" required/></label><br>
        <label>Ville<input type="text" name="ville" ngModel="{{inforesult.ville_Personne}}" required/></label><br>
        <label>Numéro de la mère<input type="text" name="mere" maxlength="10" ngModel="{{inforesult.telephonemere}}" required/></label><br>
        <label>Numéro du père<input type="text" name="pere" maxlength="10" ngModel="{{inforesult.telephonepere}}" required/></label><br>
        <label>Numéro du praticant<input type="text" name="praticant" maxlength="10" ngModel="{{inforesult.telephone}}" required/></label><br>
        <label>Numéro de licence<input type="text" name="licence" ngModel="{{inforesult.numlicence}}"/></label><br>
        <fieldset  class="auto">
            <legend>Ses groupes</legend>
                <ng-container *ngFor="let perso of inforesult.groupe">
                    <label *ngFor="let groupe of info_groupe">{{perso.libellegrp}}<input type="checkbox" name="groupeidgroupe" ngModel="{{groupe.idgroupe}}" *ngIf="groupe.idgroupe === perso.idgroupe? selected : ''"></label>
                </ng-container>
            </fieldset>
        <fieldset  class="auto">
            <legend>Rôle</legend>
                <label>Membre du bureau<input type="text" name="bureau" ngModel="{{bureau}}"></label><br>
                <label>Membre du comité directeur<input type="text" name="comite" ngModel="{{comite}}"></label><br>
                <label>Entraîneur Gymnastique<input type="text" name="E_G" ngModel="{{E_G}}"></label><br>
                <label>Entraîneur Trampoline<input type="text" name="E_T" ngModel="{{E_T}}"></label><br>
                <label>Entraîneur Petite Enfance<input type="text" name="E_P" ngModel="{{E_P}}"></label><br>
                <label>Entraîneur zumba<input type="text" name="E_Z" ngModel="{{E_Z}}"></label><br>
                <label>Juge Gymnastique<input type="text" name="J_G" ngModel="{{J_G}}"></label><br>
                <label>Juge Trampoline<input type="text" name="J_T" ngModel="{{J_T}}"></label><br>
        </fieldset>
        <label><input type="text" name="idpersonne" ngModel="{{inforesult.idpersonne}}"/></label><br>    
        <label><input type="submit" value="Modifier mes informations"/></label><br> 
    </form>
    </div>

<a (click)="display('gestion_groupe')"><div class="button" ><br>
    <p>GESTION DES GROUPES</p>
    <img *ngIf="!gestion_groupe" src="..\..\..\assets\image\down.png">
    <img *ngIf="gestion_groupe" src="..\..\..\assets\image\top.png">
    </div></a>
    <div *ngIf="gestion_groupe" class="detail">
        <div class="gestion_groupe">
            <button (click)="creat_groupe()">Ajouter un groupe</button>
            <div class="creat_groupe" *ngIf="creat_group">
                <form #myform="ngForm" (ngSubmit)="register_creat_groupe(myform)">
                    <h2>Créer un groupe</h2>
                    <label>Nom du groupe<input type="text" name="nom" ngModel/></label>
                    <label>Entraîneur<select name="entraineur" ngModel><option>-- Sélectionnez un entraîneur</option></select></label>
                    <label>Nombre maximum de praticant<input type="number" name="max" ngModel/></label>
                    <label>Année minumum acceptée<input type="number" name="anneeMin" ngModel/></label>
                    <label>Année maximum acceptée<input type="number" name="annneMax" ngModel/></label>
                    <label><input type="submit" value="AjoUter le groupe"/></label>
                </form>
            </div>
            <a *ngFor="let perso of info_groupe" (click)="modifGroupe(perso.idgroupe)">
            <div class="groupe">
                <img *ngIf="perso.idphoto == null" src="https://www.acd-groupe.fr/galerie/tuiles/groupe.jpg">
                <img *ngIf="perso.idphoto != null" src="{{perso.idphoto.chemin_Photo}}">
                <h2>{{perso.libellegrp}}<br>
                    <small>{{perso.horaires[0].libellehoraire}}<br>Guillaume (2 sur 20)</small><br>
                </h2>
            </div>
            </a>
            <div *ngIf="modgroupe" class="modif_group" >
                    <form #myform="ngForm" (ngSubmit)="register_modif_groupe(myform)" class="modal-content animate" *ngFor="let info of info_groupe_id">
                            <h2>Modifier le groupe</h2>
                            <label>Nom du groupe<input type="text" name="nom" ngModel="{{info.nom}}"/></label>
                            <label>Entraîneur(s)<select multiple name="entraineur" ngModel><option value="oucou2">-- Sélectionnez un entraîneur</option></select></label>
                            <label>Nombre maximum de praticant<input type="number" name="max" ngModel="{{info.limite}}"/></label>
                            <label>Année minumum acceptée<input type="number" name="anneeMin" ngModel="{{info.min}}"/></label>
                            <label>Année maximum acceptée<input type="number" name="anneMax" ngModel="{{info.max}}"/></label>
                            <label>Tarif<input type="number"  value="{{info.tarif}}"/></label>
                            <label><input type="submit" value="Modifier le groupe"/></label>
                    </form>
            </div>
        </div>
    </div>

    <a (click)="display('add_article')"><div class="button" ><br>
        <p>CREER UN ARTICLE</p>
        <img *ngIf="!add_article" src="..\..\..\assets\image\down.png">
        <img *ngIf="add_article" src="..\..\..\assets\image\top.png">
        </div></a>
        <div *ngIf="add_article" class="detail">
        <div>
                <h2>Creer un nouvel article</h2>
            <form #myform="ngForm" (ngSubmit)="register_create_article(myform)">
                <label>Date<input type="date" name="date_article" ngModel/></label>
                <label>Titre<input type="text" name="titre_article" ngModel/></label>
                <label>Text<br><i>Consignes pour l'écriture d'articles<br>Gras : &lt;b&gt;TEXT&lt;/b&gt;<br>Retour à la ligne : &lt;br&gt;</i><textarea type="text" name="texte_article" ngModel></textarea></label>
                <label><input type="hidden" name="id_personne" ngModel="localStorage.getItem('idpersonne')"/></label>
                <label><input type="submit" value="Creer l'article"/></label>
            </form>
        </div>
        </div>


        <a (click)="display('gestion_article')"><div class="button" ><br>
            <p>GESTION DES ARTICLE</p>
            <img *ngIf="!gestion_article" src="..\..\..\assets\image\down.png">
            <img *ngIf="gestion_article" src="..\..\..\assets\image\top.png">
            </div></a>
            <div *ngIf="gestion_article" class="detail">
                <h2>Les articles</h2>
                <a *ngFor="let perso of articles" (click)="modifArticle(perso.idarticle)">
                    <div class="article">
                            <img *ngIf="perso.idphoto != null" src="{{perso.idphoto.chemin_Photo}}">
                            <h2>{{perso.titre_article}}<br>
                                <small>{{perso.date_article | date:"dd/MM/yyyy"}}<p [innerHTML]="perso.texte_article"></p><br>{{perso.idpersonne.prenomPersonne}} {{perso.idpersonne.nomPersonne}}</small><br>
                            </h2>
                    </div>
                </a>
                <div *ngIf="modif_article" class="mod_groupe" >
                        <h2>Modifier l'article</h2>
                        <form *ngFor="let perso of info_article_id"  #myform="ngForm" (ngSubmit)="register_update_article(myform)">
                            <button>Supprimer l'article</button>
                            <label>Date<input type="date" name="date" ngModel='{{perso.date | date:"yyyy-MM-dd"}}'/></label>
                            <label>Titre<input type="text" name="titre" ngModel="{{perso.titre_article}}"/></label>
                            <label>Text<br><i>Consignes pour l'écriture d'articles<br>Gras : &lt;b&gt;TEXT&lt;/b&gt;<br>Retour à la ligne : &lt;br&gt;</i><textarea type="text" name="text" ngModel="{{perso.text}}"></textarea></label>
                            <label><input type="text" name="id" ngModel="{{perso.id}}"/></label>
                            <label><input type="submit" value="Modifier l'article"/></label>
                        </form>
                </div>
            </div>

            <a (click)="display('inscription')"><div class="button" ><br>
                <p>GESTION DES INSCRIPTIONS</p>
                <img *ngIf="!inscription" src="..\..\..\assets\image\down.png">
                <img *ngIf="inscription" src="..\..\..\assets\image\top.png">
                </div></a>
                <div *ngIf="inscription" class="detail">
                        <h2>Liste des inscriptions en cours</h2>
                    <table>
                        <tr><th width="25%">Nom</th><th width="25%">Prénom</th><th width="50%">Groupe</th></tr>
                        <tr (click)="inscrit()"><td>DELMARLE</td><td>Guillaume</td><td>Developpement Musculaire & Accrobatique</td></tr>
                    </table>
                </div>
                <div *ngIf="inscrit_detail">

                </div>
</div>