div.contenu {
    margin-left:10%;
    margin-bottom:0%;
    margin-top:0%;
    background-color: #E4E4E4  ;   
    display:block;
    float:left;
    width:80%;
  }

  body {
    background-color: #E2EAE8 ; 
    width:100%;
    height:100%;
    
  }

  ul{
    display:block;
    float:left;
    width:96%;
    text-decoration: none;
    list-style-type: none;
    background-color: #828282;
    height:50px;
    
  }

  li{
    display:block;
    align-items: center;
    float:left;
    text-align: center;
    color:white;
    width:16%;
    height: 100%;
  }

  p{
    vertical-align: middle;
    height:95%;
    padding-top:5%;
  }

  a{
    height:100%;
    display: block;
    text-decoration: none;
    color:white;
  }

  a:hover{
    height: 95%;
    border-bottom: 4px solid #21AB8B;
  }

  .asso img {
    width:45%;
    margin-left:33%;
    margin-top:2%;
  }

  .asso_text, .presentation_bureau{
    display: block;
    float:left;
    position: relative;
    width:90%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 20px;
  }

  .presentation_bureau{
    margin-top:5%;
  }

  .membre_bureau, .membre_comite{
    display:block;
    float:left;
    width:42%;
    margin-left:5%;
    margin-bottom:5%;
  }

  .titre, h3{
    text-align: center;
  }

  .personne{
    display:block;
    float:left;
    width:90%;
    margin-left:5%;
    height:100px;
    margin-top:5%;
  }

  .personne_e{
    display:block;
    float:left;
    width:90%;
    margin-left:5%;
    margin-top:5%;
  }

  .personne_e img{
    width:90%;
    margin-left:5%;
  }

  .personne img, .part_entraineur img{
    float:left;
    height:90%;
  }

  .personne p, .part_entraineur p{
    float:left;
    margin-left:5%;
    padding-top:0;
  }

  .part_entraineur, .part_groupe{
    display:block;
    float:left;
    width:22%;
    margin-left:2%;
  }

  .part_groupe img{
    width:90%;
    margin-left:5%;
  }

  
