<div class="contenu">
  
  <ul>
    <li><a (click)="display('asso')"><p alt="block" style="vertical-align: middle;">Présentation de l'association</p></a></li>
    <li><a (click)="display('bureau')"><p>Bureau</p></a></li>
    <li><a (click)="display('entraineur')"><p>Les entraîneurs</p></a></li>
    <li><a (click)="display('juge')"><p>Les juges</p></a></li>
    <li><a (click)="display('groupe')"><p>Les groupes</p></a></li>
    <li><a (click)="display('tenue')"><p>Les tenues</p></a></li>
  </ul>

  <ng-container *ngIf="asso">
  <div class="asso">
    <img src="http://gymvillecresnes.free.fr/photos/presentation/histoire2.jpg">
    <p class="asso_text">
      L’Etoile de Villecresnes a été fondée en 1954. C’est la plus ancienne association sportive villecresnoise encore en activité. A l’origine, les cours se déroulaient au gymnase de la Ferme, dans la "Salle des Pompiers", puis nos activités se sont déplacées à la Salle polyvalente. En 1989, nous nous sommes installés à la Halle des Sports Didier Pironi, rue du Réveillon (près du collège).<br>
      <br>
      Nous y accueillons filles et garçons : <br>
      <br>
      - de 15 mois à 2 ans, dans la section "éveil gymnique" pour des séances de motricité avec leurs parents <br>
      - Entre 3 et 4 ans, pour leur faire pratiquer la Baby-gym où ils commencent à s’équilibrer, courir, sauter, ramper, rouler, grimper, … etc. <br>
      - Dès 5 ans, filles et garçons peuvent s’essayer à la "vraie" gymnastique et au trampoline dans les groupes "Ecole de Gym" et "Ecole de Trampoline". <br>
      - A partir de 6 ou 7 ans commencent les compétitions pour les gymnastes comme pour les trampolinistes, qui suivent alors 2 entraînements par semaine.<br>
      <br>
      Nous proposons également aux adultes des cours de step/fitness.<br>
      <br>
      Nous sommes affiliés à l’UFOLEP (Union Française des Œuvres Laïques d’Education Physique) dont nous partageons les valeurs et la conception d’un sport moyen d’éducation et de formation. Chez nous, pas de "championnite", même si nous participons aux compétitions de notre fédération, du niveau départemental jusqu’aux finales nationales.<br>
      <br>
      Nos monitrices et moniteurs sont titulaires du Brevet d’Etat d’Educateur Sportif ou d’un brevet fédéral. Ils sont assistés d’aide-monitrices et d’aide-moniteurs bénévoles.<br>
    </p>
  </div>
  </ng-container>

  <ng-container *ngIf="bureau">
  <div class="bureau" ng-hide="bureau">
   <div class="presentation_bureau">
    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
   </div>
  <div class="membre_bureau"><h3 class="titre">Membre du bureau</h3>
    <div class="personne" *ngFor="let membreb of tache_bureau"> 
      <img *ngIf="membreb.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membreb.id!=null" src="{{membre.photo}}">
      <p>
        <b>{{membreb.nom}} {{membreb.prenom}}</b><br>
        {{membreb.detail}}
      </p>
  </div>
  </div>
  <div class="membre_comite"><h3 class="titre">Membre du comité directeur</h3>
    <div class="personne" *ngFor="let membre of tache_comite"> 
      <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membre.id!=null" src="{{membre.photo}}">
        <p>
          <b>{{membre.nom}} {{membre.prenom}}</b><br>
        {{membre.detail}}
        </p>
      </div>
  </div>
  </div>
  </ng-container>

  <ng-container *ngIf="entraineur">
  <div class="entraineur">
      <div class="presentation_bureau">
          Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
      </div>
      <div class="part_entraineur">
        <h3>Entraîneurs Gymnastique</h3>
          <div class="personne_e" *ngFor="let membre of tache_entraineur_gym"> 
            <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
            <img *ngIf="membre.id!=null" src="{{membre.photo}}">
              <p>
                <b>{{membre.nom}} {{membre.prenom}}</b><br>
                {{membre.detail}}
              </p>
            </div>
      </div>
      <div class="part_entraineur">
          <h3>Entraîneurs Trampoline</h3>
            <div class="personne_e" *ngFor="let membre of tache_entraineur_trampo"> 
              <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
              <img *ngIf="membre.id!=null" src="{{membre.photo}}">
                <p>
                  <b>{{membre.nom}} {{membre.prenom}}</b><br>
                   {{membre.detail}}
                </p>
              </div>
        </div>
        <div class="part_entraineur">
            <h3>Entraîneurs Petite-Enfance</h3>
              <div class="personne_e" *ngFor="let membre of tache_entraineur_petit"> 
                <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                <img *ngIf="membre.id!=null" src="{{membre.photo}}">
                  <p>
                    <b>{{membre.nom}} {{membre.prenom}}</b><br>
                   {{membre.detail}}
                  </p>
                </div>
          </div>
          <div class="part_entraineur">
              <h3>Entraîneurs Zumba & Reforcement musculaire</h3>
                <div class="personne_e" *ngFor="let membre of tache_entraineur_zumba"> 
                  <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                  <img *ngIf="membre.id!=null" src="{{membre.photo}}">
                    <p>
                      <b>{{membre.nom}} {{membre.prenom}}</b><br>
                       {{membre.detail}}
                    </p>
                  </div>
            </div>
  </div>
</ng-container>

  <ng-container *ngIf="juge">
  <div class="juge">
      <div class="presentation_bureau">
          On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
      </div>
      <div class="membre_bureau"><h3 class="titre">Juge Gymnastique Artistique</h3>
        <div class="personne" *ngFor="let membre of tache_juge_gym"> 
          <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membre.id!=null" src="{{membre.photo}}">
          <p>
            <b>{{membre.nom}} {{membre.prenom}}</b><br>
              {{membre.detail}}
          </p>
        </div>
      </div>

      <div class="membre_bureau"><h3 class="titre">Juge Trampoline</h3>
        <div class="personne" *ngFor="let membre of tache_juge_trampo"> 
          <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membre.id!=null" src="{{membre.photo}}">
          <p>
            <b>{{membre.nom}} {{membre.prenom}}</b><br>
            {{membre.detail}}
          </p>
        </div>
      </div>
  </div>
</ng-container>

  <ng-container *ngIf="groupe">
  <div class="groupe">
      <div class="presentation_bureau">
          On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).
      </div>
      <div class="part_groupe">
        <h3>Groupes Gymnastique</h3>
          <div class="personne_e"> 
              <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
              <p><br>
                <b>Groupe 1</b>
              </p>
            </div>
      </div>
      <div class="part_groupe">
          <h3>Groupes Trampoline</h3>
            <div class="personne_e"> 
                <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                <p><br>
                  <b>Groupe 2</b>
                </p>
              </div>
        </div>
        <div class="part_groupe">
            <h3>Groupes Petite-Enfance</h3>
              <div class="personne_e"> 
                  <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                  <p><br>
                    <b>Groupe 3</b>
                  </p>
                </div>
          </div>
          <div class="part_groupe">
              <h3>Groupes Zumba & Reforcement musculaire</h3>
                <div class="personne_e"> 
                    <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                    <p><br>
                      <b>Groupe 4</b><br>
                    </p>
                  </div>
            </div>
  </div>
</ng-container>

  <ng-container *ngIf="tenu">
  <div class="tenu">
    TENUS
  </div>
</ng-container>



  </div>