<div class="contenu">
  
  <ul>
    <li><a (click)="display('asso')"><p alt="block" style="vertical-align: middle;">Présentation de l'association</p></a></li>
    <li><a (click)="display('bureau')"><p>Bureau</p></a></li>
    <li><a (click)="display('entraineur')"><p>Les entraîneurs</p></a></li>
    <li><a (click)="display('juge')"><p>Les juges</p></a></li>
    <li><a (click)="display('groupe')"><p>Les groupes</p></a></li>
    <li><a (click)="display('tenue')"><p>Les tenues</p></a></li>
  </ul>

  <ng-container *ngIf="asso">
  <div class="asso">
    <img src="http://gymvillecresnes.free.fr/photos/presentation/histoire2.jpg">
    <p class="asso_text">
      L’Etoile de Villecresnes a été fondée en 1954. C’est la plus ancienne association sportive villecresnoise encore en activité. A l’origine, les cours se déroulaient au gymnase de la Ferme, dans la "Salle des Pompiers", puis nos activités se sont déplacées à la Salle polyvalente. En 1989, nous nous sommes installés à la Halle des Sports Didier Pironi, rue du Réveillon (près du collège).<br>
      <br>
      Nous y accueillons filles et garçons : <br>
      <br>
      - de 15 mois à 2 ans, dans la section "éveil gymnique" pour des séances de motricité avec leurs parents <br>
      - Entre 3 et 4 ans, pour leur faire pratiquer la Baby-gym où ils commencent à s’équilibrer, courir, sauter, ramper, rouler, grimper, … etc. <br>
      - Dès 5 ans, filles et garçons peuvent s’essayer à la "vraie" gymnastique et au trampoline dans les groupes "Ecole de Gym" et "Ecole de Trampoline". <br>
      - A partir de 6 ou 7 ans commencent les compétitions pour les gymnastes comme pour les trampolinistes, qui suivent alors 2 entraînements par semaine.<br>
      <br>
      Nous proposons également aux adultes des cours de step/fitness.<br>
      <br>
      Nous sommes affiliés à l’UFOLEP (Union Française des Œuvres Laïques d’Education Physique) dont nous partageons les valeurs et la conception d’un sport moyen d’éducation et de formation. Chez nous, pas de "championnite", même si nous participons aux compétitions de notre fédération, du niveau départemental jusqu’aux finales nationales.<br>
      <br>
      Nos monitrices et moniteurs sont titulaires du Brevet d’Etat d’Educateur Sportif ou d’un brevet fédéral. Ils sont assistés d’aide-monitrices et d’aide-moniteurs bénévoles.<br>
    </p>
  </div>
  </ng-container>

  <ng-container *ngIf="bureau">
  <div class="bureau" ng-hide="bureau">
   <div class="presentation_bureau">Atque, ut Tullius ait, ut etiam ferae fame monitae plerumque ad eum locum ubi aliquando pastae sunt revertuntur, ita homines instar turbinis degressi montibus impeditis et arduis loca petivere mari confinia, per quae viis latebrosis sese convallibusque occultantes cum appeterent noctes luna etiam tum cornuta ideoque nondum solido splendore fulgente nauticos observabant quos cum in somnum sentirent effusos per ancoralia, quadrupedo gradu repentes seseque suspensis passibus iniectantes in scaphas eisdem sensim nihil opinantibus adsistebant et incendente aviditate saevitiam ne cedentium quidem ulli parcendo obtruncatis omnibus merces opimas velut viles nullis repugnantibus avertebant. haecque non diu sunt perpetrata.</div>
  <div class="membre_bureau"><h3 class="titre">Membre du bureau</h3>
    <div class="personne" *ngFor="let membreb of tache_bureau"> 
      <img *ngIf="membreb.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membreb.id!=null" src="{{membre.photo}}">
      <p>
        <b>{{membreb.nom}} {{membreb.prenom}}</b><br>
        {{membreb.detail}}
      </p>
  </div>
  </div>
  <div class="membre_comite"><h3 class="titre">Membre du comité directeur</h3>
    <div class="personne" *ngFor="let membre of tache_comite"> 
      <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membre.id!=null" src="{{membre.photo}}">
        <p>
          <b>{{membre.nom}} {{membre.prenom}}</b><br>
        {{membre.detail}}
        </p>
      </div>
  </div>
  </div>
  </ng-container>

  <ng-container *ngIf="entraineur">
  <div class="entraineur">
      <div class="presentation_bureau">Atque, ut Tullius ait, ut etiam ferae fame monitae plerumque ad eum locum ubi aliquando pastae sunt revertuntur, ita homines instar turbinis degressi montibus impeditis et arduis loca petivere mari confinia, per quae viis latebrosis sese convallibusque occultantes cum appeterent noctes luna etiam tum cornuta ideoque nondum solido splendore fulgente nauticos observabant quos cum in somnum sentirent effusos per ancoralia, quadrupedo gradu repentes seseque suspensis passibus iniectantes in scaphas eisdem sensim nihil opinantibus adsistebant et incendente aviditate saevitiam ne cedentium quidem ulli parcendo obtruncatis omnibus merces opimas velut viles nullis repugnantibus avertebant. haecque non diu sunt perpetrata.</div>
      <div class="part_entraineur">
        <h3>Entraîneurs Gymnastique</h3>
          <div class="personne_e" *ngFor="let membre of tache_entraineur_gym"> 
            <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
            <img *ngIf="membre.id!=null" src="{{membre.photo}}">
              <p>
                <b>{{membre.nom}} {{membre.prenom}}</b><br>
                {{membre.detail}}
              </p>
            </div>
      </div>
      <div class="part_entraineur">
          <h3>Entraîneurs Trampoline</h3>
            <div class="personne_e" *ngFor="let membre of tache_entraineur_trampo"> 
              <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
              <img *ngIf="membre.id!=null" src="{{membre.photo}}">
                <p>
                  <b>{{membre.nom}} {{membre.prenom}}</b><br>
                   {{membre.detail}}
                </p>
              </div>
        </div>
        <div class="part_entraineur">
            <h3>Entraîneurs Petite-Enfance</h3>
              <div class="personne_e" *ngFor="let membre of tache_entraineur_petit"> 
                <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                <img *ngIf="membre.id!=null" src="{{membre.photo}}">
                  <p>
                    <b>{{membre.nom}} {{membre.prenom}}</b><br>
                   {{membre.detail}}
                  </p>
                </div>
          </div>
          <div class="part_entraineur">
              <h3>Entraîneurs Zumba & Reforcement musculaire</h3>
                <div class="personne_e" *ngFor="let membre of tache_entraineur_zumba"> 
                  <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                  <img *ngIf="membre.id!=null" src="{{membre.photo}}">
                    <p>
                      <b>{{membre.nom}} {{membre.prenom}}</b><br>
                       {{membre.detail}}
                    </p>
                  </div>
            </div>
  </div>
</ng-container>

  <ng-container *ngIf="juge">
  <div class="juge">
      <div class="presentation_bureau">Atque, ut Tullius ait, ut etiam ferae fame monitae plerumque ad eum locum ubi aliquando pastae sunt revertuntur, ita homines instar turbinis degressi montibus impeditis et arduis loca petivere mari confinia, per quae viis latebrosis sese convallibusque occultantes cum appeterent noctes luna etiam tum cornuta ideoque nondum solido splendore fulgente nauticos observabant quos cum in somnum sentirent effusos per ancoralia, quadrupedo gradu repentes seseque suspensis passibus iniectantes in scaphas eisdem sensim nihil opinantibus adsistebant et incendente aviditate saevitiam ne cedentium quidem ulli parcendo obtruncatis omnibus merces opimas velut viles nullis repugnantibus avertebant. haecque non diu sunt perpetrata.</div>
      <div class="membre_bureau"><h3 class="titre">Juge Gymnastique Artistique</h3>
        <div class="personne" *ngFor="let membre of tache_juge_gym"> 
          <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membre.id!=null" src="{{membre.photo}}">
          <p>
            <b>{{membre.nom}} {{membre.prenom}}</b><br>
              {{membre.detail}}
          </p>
        </div>
      </div>

      <div class="membre_bureau"><h3 class="titre">Juge Trampoline</h3>
        <div class="personne" *ngFor="let membre of tache_juge_trampo"> 
          <img *ngIf="membre.id==null" src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
      <img *ngIf="membre.id!=null" src="{{membre.photo}}">
          <p>
            <b>{{membre.nom}} {{membre.prenom}}</b><br>
            {{membre.detail}}
          </p>
        </div>
      </div>
  </div>
</ng-container>

  <ng-container *ngIf="groupe">
  <div class="groupe">
      <div class="presentation_bureau">Atque, ut Tullius ait, ut etiam ferae fame monitae plerumque ad eum locum ubi aliquando pastae sunt revertuntur, ita homines instar turbinis degressi montibus impeditis et arduis loca petivere mari confinia, per quae viis latebrosis sese convallibusque occultantes cum appeterent noctes luna etiam tum cornuta ideoque nondum solido splendore fulgente nauticos observabant quos cum in somnum sentirent effusos per ancoralia, quadrupedo gradu repentes seseque suspensis passibus iniectantes in scaphas eisdem sensim nihil opinantibus adsistebant et incendente aviditate saevitiam ne cedentium quidem ulli parcendo obtruncatis omnibus merces opimas velut viles nullis repugnantibus avertebant. haecque non diu sunt perpetrata.</div>
      <div class="part_groupe">
        <h3>Groupes Gymnastique</h3>
          <div class="personne_e"> 
              <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
              <p><br>
                <b>DELMARLE Guillaume</b>
              </p>
            </div>
      </div>
      <div class="part_groupe">
          <h3>Groupes Trampoline</h3>
            <div class="personne_e"> 
                <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                <p><br>
                  <b>DELMARLE Guillaume</b>
                </p>
              </div>
        </div>
        <div class="part_groupe">
            <h3>Groupes Petite-Enfance</h3>
              <div class="personne_e"> 
                  <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                  <p><br>
                    <b>DELMARLE Guillaume</b>
                  </p>
                </div>
          </div>
          <div class="part_groupe">
              <h3>Groupes Zumba & Reforcement musculaire</h3>
                <div class="personne_e"> 
                    <img src="http://prono.club/wp-content/uploads/2019/03/31584-full.png">
                    <p><br>
                      <b>DELMARLE<br>Guillaume</b><br>
                      Président
                    </p>
                  </div>
            </div>
  </div>
</ng-container>

  <ng-container *ngIf="tenu">
  <div class="tenu">
    TENUS
  </div>
</ng-container>



  </div>