div.contenu {
    margin-left:10%;
    margin-bottom:0%;
    margin-top:0%;
    background-color: #CFD3D2  ;   
    display:block;
    float:left;
    width:80%;
  }

  body {
    background-color: #E2EAE8 ; 
    width:100%;
    height:100%;
    
  }

  ul{
    display:block;
    float:left;
    width:100%;
    text-decoration: none;
    list-style-type: none;
    background-color: #828282;
    height:30px;
  }

  li{
    display:block;
    float:left;
    margin-right: 50px;
    text-align: center;
    color:white;
  }

  p{
    padding-top: 5px;
  }

  a{
    height:100%;
    display: block;
    text-decoration: none;
    color:white;
  }

  a:hover{
    height: 99%;
    border-bottom: 2px solid white;
  }

  .asso img {
    width:45%;
    margin-left:33%;
    margin-top:2%;
  }

  .asso_text{
    display: block;
    float:left;
    position: relative;
    width:90%;
    margin-left: 5%;
    margin-bottom: 5%;
    font-size: 20px;
  }