div.contenu {
    margin-left:10%;
    margin-bottom:0%;
    margin-top:0%;
    background-color: #E4E4E4  ;   
    display:block;
    float:left;
    width:80%;
  }

  body {
    background-color: #E2EAE8 ; 
    width:100%;
    height:100%;
  }

  .calendrier{
    text-align:center;
  }



 

  
