/* You can add global styles to this file, and also import other style files */
body, ul, p{
    margin: 0;
}
body{
background-color: #FAFAFA;
font-family: "LGC", Arial, sans-serif;
}

@font-face {
    font-family: "LGC";
    font-style:italic; 
    font-weight: bold;
	src: url('app/font/Louis_George_Cafe_Bold_Italic.ttf');
}
@font-face {
	font-family: "LGB";
	src: url('app/font/Louis_George_Cafe.ttf');
}
@font-face {
	font-family: "LGB";
	font-weight: bold;
	src: url('app/font/Louis_George_Cafe_Bold.ttf');
}
@font-face {
	font-family: "LGB";
	font-style: italic;
	src: url('./app/font/Louis_George_Cafe_Italic.ttf');
}
