div.contenu {
    margin-left:10%;
    margin-right:10%; 
    margin-bottom:0%;
    margin-top:0%;
    background-color: #E4E4E4;
    display:block;
    float:left;
    position: relative;
    width:80%;
  }


  .presentation{
    display: block;
    float:left;
    position: relative;
    width:90%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top:5%;
    font-size: 20px;
    line-height: 30px;
  }

  h1{
    display: block;
    float:left;
    text-align:center;
    width:100%;
  }

  .photo{
      display:block;
      width:70%;
      margin-left:15%;
  }

  .img{
      text-align: center;
      float:left;
      width:48%;
      height:200px;
      margin:1px;
      display: inline-flex;
      vertical-align: middle;
      background-color: #000
  }

  .img img{
    max-width: 100%;
    max-height: 100%;
    display:block;
    margin:auto;
  }
