div.contenu {
    margin-left:10%;
    margin-right:10%; 
    margin-bottom:0%;
    margin-top:0%;
    background-color: #E4E4E4;
    display:block;
    float:left;
    position: relative;
    width:80%;
  }


  .presentation{
    display: block;
    float:left;
    position: relative;
    width:90%;
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top:5%;
    font-size: 20px;
    line-height: 30px;
  }

  h1{
    display: block;
    text-align:center;
    width:100%;
  }

  img{
      width:50%;
  }

  .photo{
      display:block;
      width:70%;
      margin-left:15%;
  }

  .img1, .img2, .img3, .img4,
  .img5, .img6, .img7, .img8,
  .img9, .img10, .img11, .img12,
  .img13, .img14, .img15, .img16{
      display:block;
      float:left;
      width:48%;
      height:200px;
      background-size: cover;
      margin:1px;
  }

  .img1{
    background-image: url("https://img.lemde.fr/2018/08/05/0/0/3773/2585/688/0/60/0/1831d98_MMA179_EUROPEAN-CHAMPIONSHIPS-GYMNASTICS_0805_11.JPG");
  }

  .img2{
    background-image: url("https://www.lmjsm.com/photo/art/grande/5638282-8409747.jpg?v=1532886066");
  }

  .img3{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/2015_European_Artistic_Gymnastics_Championships_-_Uneven_bars_-_Martina_Rizzelli_01.jpg/1200px-2015_European_Artistic_Gymnastics_Championships_-_Uneven_bars_-_Martina_Rizzelli_01.jpg");
  }

  .img4{
    background-image: url("https://sites.google.com/site/lagymnastique2/_/rsrc/1472851735443/la-poutre/resize.jpg?height=607&width=760");
  }

  .img5{
    background-image: url("https://www.ffgym.fr/media/1461673459-content_details-1461673459-ts_frDem_15112947.jpg");
  }

  .img6{
    background-image: url("https://www.lepoint.fr/images/2016/04/26/3712897lpw-3712896-article-jpg_3514870.jpg");
  }

  .img7{
    background-image: url("https://cdn-s-www.leprogres.fr/images/4B334C19-4F60-4227-9DD4-81C163A0E211/LPR_v1_02/au-gymnase-montlouis-le-club-intercommunal-des-sports-acrobatiques-et-gymniques-(cisag)-monte-et-demonte-chaque-jour-cinq-trampolines-photo-nicole-gentil-1533928945.jpg");
  }

  .img8{
    background-image: url("http://french.peopledaily.com.cn/mediafile/201208/04/F201208040913032607114172.jpg");
  }

  .img9{
    background-image: url("https://static1.squarespace.com/static/59ac2f96f7e0ab8bf94f9f5f/t/5bbcdd25652dea66c17f0a23/1539104047667/baby+gymm.jpg");
  }

  .img10{
    background-image: url("https://static1.squarespace.com/static/59ac2f96f7e0ab8bf94f9f5f/t/5bbcdd25652dea66c17f0a23/1539104047667/baby+gymm.jpg");
  }

  .img11{
    background-image: url("https://static1.squarespace.com/static/59ac2f96f7e0ab8bf94f9f5f/t/5bbcdd25652dea66c17f0a23/1539104047667/baby+gymm.jpg");
  }

  .img12{
    background-image: url("https://static1.squarespace.com/static/59ac2f96f7e0ab8bf94f9f5f/t/5bbcdd25652dea66c17f0a23/1539104047667/baby+gymm.jpg");
  }

  .img13{
    background-image: url("https://i.ytimg.com/vi/DVuEMLtGUeA/hqdefault.jpg");
  }

  .img14{
    background-image: url("https://i.ytimg.com/vi/DVuEMLtGUeA/hqdefault.jpg");
  }

  .img15{
    background-image: url("https://i.ytimg.com/vi/DVuEMLtGUeA/hqdefault.jpg");
  }

  .img16{
    background-image: url("https://i.ytimg.com/vi/DVuEMLtGUeA/hqdefault.jpg");
  }