<div class="contenu">
  
  <div class="contact">
    <h3>Comment nous contacter ?</h3>
    <p>
      <b>Par Email :</b>  etoile.gym@hotmail.fr<br>
      <b>Par courrier :</b><br> Etoile de Villecresnes<br>Mairie de Villecresnes<br>Place Charles de Gaulle <br>94440 VILLECRESNES
    </p>
  </div>
  <div class="lien">
    <b>Quelques liens utile :</b><br><br>
    La fédération UFOLEP<br><br>
    <a href="http://www.ufolep.org/"><img src="https://upload.wikimedia.org/wikipedia/fr/thumb/f/f3/LogoUfolep.svg/1200px-LogoUfolep.svg.png"></a>
    <br><br>
    <a href="https://www.ufolepgym.com/">UFOLEP gym (informations compétitions)</a><br><br>

  </div>


  </div>