<header class="menu">
    <a routerLink="/" class="titre"><p>ETOILE DE VILLECRESNES</p></a>
  <ul class="nav">
  <li class="mainnav"><a routerLink="/actu" class="mainnav"><p>Actualité</p></a></li>
  <li class="mainnav"><a routerLink="/discipline" class="mainnav"><p>Disciplines Proposées</p></a></li>
  <li class="mainnav"><a routerLink="/calendrier" class="mainnav"><p>Calendrier</p></a></li>
  <li class="mainnav"><a routerLink="/contact" class="mainnav"><p>Contact</p></a></li>
  <li class="mainnav2"><a routerLink="/connect" class="mainnav" onclick="document.getElementById('id01').style.display='block'"><p>{{ login }}</p></a></li>
</ul>
</header>
<div class="contenu" name="contenu">
  
</div>
<!-- -----------LOGIN PART------------------>
<form action="action_page.php" *ngIf="test">
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>


<!-- The Modal -->
<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" 
class="close" title="Close Modal">&times;</span>

  <!-- Modal Content -->
  <form #myform="ngForm" (ngSubmit)="register(myform)" class="modal-content animate">
    <div class="presentation">
      texte de présentation
    </div>
    <div class="container">
        <p class="erreur" *ngIf="verification">Votre identifiant ou votre mot de passe n'est pas correct.</p><br>
      <label for="uname"><b>Votre numéro de licence ou celui de votre enfant</b></label>
      <p class="erreur" *ngIf="user">Ce champs est obligatoire</p>
      <input type="text" placeholder="094_00000000" name="uname" ngModel required>

      
      <label for="psw"><b>Mot de passe</b></label>
      <p class="erreur" *ngIf="mdp">Ce champs est obligatoire</p>
      <input type="password" placeholder="Entreé votre mot de passe" name="psw" ngModel required>

      <button type="submit">Se connecter</button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Annuler</button>
      <span class="psw"><a href="#">Mot de passe oublié ?</a></span>
    </div>
  </form>
</div>
<!--------------END LOGIN PART-------------->


<router-outlet></router-outlet>

<footer><br>
    ETOILE DE VILLECRESNES</footer>
