  .menu {
    list-style-type: none;
    width:100%; 
    height:100px;
    background-color: #21AB8B;
    color:white;
    margin: 0;
    float:right;
    position: relative;
    display: block;
  }

  a{
    height: 100%;
    display: block;
  }

  p{
    display:block;
    position: relative;
    padding-top:42px;
    font-size: 17px;
  }


  ul {
    list-style-type: none;
    height: 100%;
    display: block;
    position: relative;
    width:100%;
    padding:0;
  }

  li{
    margin-left:4%;
  }

  
  div.connect {
    float:right; 
  margin-right: 2%; 
    width:auto;
    
  
  }

  .mainnav{
    display: block;
    float:left;
    color: white;
    text-align: center;
    text-decoration: none;
    height:100%;
  }
  a.lien {
    text-decoration: none;
  }
  a.lien:hover {
    text-decoration: underline;
  }
  
a:hover {
    height: 96%;
    border-bottom: 4px solid white;

  }

  div.contenu {
    margin-left:10%;
    margin-right:10%; 
    margin-bottom:0%;
    margin-top:0%;
    background-color: #E2EAE8 ;
   /* width:100%;
    height:100%; */
   /* width:100%;*/
    height:750px;
    
   
  }
  a.lien {
    color:#21AB8B;
    
  }
/*
  #bloc {
    margin:10%;
    background-color: #65A94B;

  }
  */
  
  body {
    background-color: #FFF; 
    width:100%;
    height:100%;
    margin:0;
  }

  footer{
    display:block;
    float:left;
    position:relative;
    width:100%;
    height:55px;
    background-color:#21AB8B;
    margin-top:20px;
    text-align:center;
    color: white;
  }

  
div.contenu {
  margin-left:10%;
  margin-right:10%; 
  margin-bottom:0%;
  margin-top:0%;
  background-color: #CFD3D2  ;
  display:block;
  float:left;
  position: relative;
  width:80%;
}
 

